**/*.pyc
**/*.csv
**/*.log
**/*.ckpt


**/mlruns
**/.neptune
**/test_trainer

tmp/**/*
tmp/*
!tmp/.gitkeep
src/lightning_logs/**

data/**/*
tmp/*
!data/.gitkeep
src/lightning_logs/*

**/*.csv
**/*.json
**/*.log
**/mlruns
**/.neptune
**/test_trainer
**/*.pth
**/*.pt
**/*.bin
**/*.txt

!data/meta.txt
!external/meta.txt
!logs/dataset-metadata.json
!resources/**/*
